@model WebDemo1.Models.Khachhang

@{
    ViewBag.Title = "Themmoi";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("Themmoi", "KhachHang", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        <h4>Thêm Mới Khách Hàng</h4>
        <a href="~/KhachHang/ThemMoi" class="btn btn-sm btn-success" style="float:right">Thêm mới</a>
    </div>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">ID</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Phone Number</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Address</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Email</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Sex</label>
            <div class="col-md-10">
                @*<select name="Sex" class="form-control">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>*@
                @*Cách 2*@
                @*
                    <input type="checkbox" name="Sex" value="Nam" />Nam
                    <input type="checkbox" name="Sex" value="Nữ" />Nữ*@

                @*Cách 3*@
                <input type="radio" name="Sex" value="Nam" /> Nam
                <input type="radio" name="Sex" value="Nữ" /> Nữ
                @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Hình Ảnh</label>
            <div class="col-md-10">
                <input type="file" name="fileImg" />
                <input type="text" name="UrlImg" class="form-control" />
                @Html.ValidationMessageFor(model => model.UrlImg, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success btn-lg">Lưu</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "DanhSach")
</div>
