@model IEnumerable<WebDemo2.Models.spDanhSachBaiViet_Result>
@using WebDemo2.Models;
@{
    ViewBag.Title = "Bài Viết Mô Tả";
    Layout = "~/Views/Shared/Layout.cshtml";
    BanHangEntities db = new BanHangEntities();
    List<LoaiBaiViet> listBaiViet = db.LoaiBaiViets.ToList();
}



<div class="container">
    <div class="row">
        <h2>Danh Sách Bài Viêt</h2> <hr />
        <a href="~/BaiVietMoTa/Themmoi" class="btn btn-success" style="float:right">Thêm mới</a>
        <div class="col-md-12">
            <form method="get">
                <div class="col-md-2">
                    <input type="text" name="find" value="@ViewBag.find" placeholder="Nhập tên bài viết cần tìm" />
                </div>
                <div class="col-md-2">
                    <select name="idBaiVietnew">
                        <option>Tất cả</option>
                        @foreach (var loaiBV in listBaiViet)
                        {
                            <option value="@loaiBV.ID" @Html.Raw(loaiBV.ID == ViewBag.idBaiVietnew ? "selected" : "")>@loaiBV.TenLoai </option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Tìm</button>
                </div>
            </form>
            <table class="table">
                <tr>
                    <th>
                        Tên Bài Viêt
                    </th>
                    <th>
                        Mô Tả
                    </th>
                    <th>
                        Ngày Viết
                    </th>
                    <th>
                        Người Viết
                    </th>
                    <th>
                        Hình Ảnh
                    </th>
                    <th>
                        Hiển Thị
                    </th>
                    <th>
                        Thứ Tự
                    </th>
                    <th>
                        Tên Loại Bài Viết
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenBaiViet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MoTa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayViet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NguoiViet)
                        </td>
                        <td>
                            <img src="@item.HinhAnh" style="height:100px;width:100px" />
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.IsHienThi)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThuTu)
                        </td>
                        <td>
                            @item.TenLoai
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "delete-link" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.delete-link').click(function (e) {
            e.preventDefault(); // Ngăn chặn hành động mặc định khi nhấp vào liên kết
            var deleteUrl = $(this).attr('href'); // Lấy URL xóa từ thuộc tính href của liên kết

            // Hiển thị hộp thoại xác nhận
            if (confirm("Bạn có chắc chắn muốn xóa?")) {
                window.location.href = deleteUrl; // Chuyển hướng đến URL xóa
            }
        });
    });
</script>
